<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SMTPClient.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SMTPClient.Settings>
            <setting name="ClientSendUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientSendPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupClientSendUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupClientSendPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientReceiveUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientReceivePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="GetEmailsHrBack" serializeAs="String">
                <value>0</value>
            </setting>
        </SMTPClient.Settings>
    </userSettings>
</configuration>